body {
    font-family: 'Muli', sans-serif;
    color: #1C447E;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

.top-buffer, .item h1, .item h2 {
    margin-top: 25px;
}

.top-buffer-large {
    margin-top: 75px;
}

.trait {
    font-size: 50px;
}

.carousel-inner .text-right {
    padding-right: 20px;
}